build/
bin/

spasm

# Compiled Object files
*.slo
*.lo
*.d
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.xml
*.dtd